@model IEnumerable<Gumani_Moila_ST10229429_CLDV7111w.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<div class="w-full flex justify-between items-center mb-20 px-4">
    <a href="javascript:history.back()"
       class="inline-flex items-center px-3 py-2 rounded-lg bg-gray-200 text-gray-700 hover:bg-gray-300 transition-all shadow-sm">
        <i class="fa-solid fa-arrow-left mr-2"></i>
        <span>Back</span>
    </a>
    <a asp-action="Create" class="bg-blue-600 py-2 px-3 rounded text-white">Create New</a>
</div>


<div class="flex flex-wrap gap-3 justify-center p-6">
@foreach (var item in Model) {
    <div class="max-w-md rounded px-2 py-1 w-full flex flex-row gap-2 shadow-lg bg-white">
        <img class="w-[130px] h-[130px] object-cover rounded"
        src="@Html.DisplayFor(modelItem => item.Venue.VenueImageUrl)"
             alt="Event Image" />
        <div class="flex-1">
            <div class="flex flex-row justify-between align-items-center">
                <div class="font-semibold text-sm">@Html.DisplayFor(modelItem => item.Event.EventName)</div>
                <p class="text-gray-500 text-xs font-medium">@Html.DisplayFor(modelItem => item.BookingDate)</p>
            </div>
              <p class="text-sm  capitalize"><i class="fa-solid fa-location-dot"></i> @Html.DisplayFor(modelItem => item.Venue.VenueName), @Html.DisplayFor(modelItem => item.Venue.VenueLocation)</p>
              <p class="text-sm "> @Html.DisplayFor(modelItem => item.Event.EventDate)</p>
            <p class="text-gray-700 text-sm">@Html.DisplayFor(modelItem => item.Event.EventDescription)</p>

                        <p class="text-sm font-normal capitalize">@Html.DisplayFor(modelItem => item.CustomerDetail.CustomerName) @Html.DisplayFor(modelItem => item.CustomerDetail.CustomerLastName) - @Html.DisplayFor(modelItem => item.CustomerDetail.CustomerPhone)</p>
            <div class=" flex items-center justify-between">
                <a asp-action="Edit" class="text-blue-600 text-sm" asp-route-id="@item.BookingId"><i class="fa-regular fa-pen-to-square"></i></a>
                @* <a asp-action="Details" asp-route-id="@item.UserId">Details</a> | *@
                <a asp-action="Delete" class="text-red-600 text-sm" asp-route-id="@item.BookingId"><i class="fa-regular fa-trash-can"></i></a>
            </div>
        </div>
    </div>
}
  </div>
